# Redmi 8: hide Android partitions (mmcblk0pN) from udisks/desktop
SUBSYSTEM=="block", KERNEL=="mmcblk0p*", ENV{UDISKS_IGNORE}="1"
SUBSYSTEM=="block", KERNEL=="mmcblk0", ENV{UDISKS_IGNORE}="1"
